table {
    border-radius:5px;
}
.table{
    width:0%;
    margin-left:1.5%;
    
}
.tableCss{
    margin : 2%;
    border-collapse: separate
}
.row > div{
    margin-right:0px;
    max-height:350px;
}
.map{
    margin-top:1.25%;
}

